.app__menuitem {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}
.app__menuitem-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__menuitem-head-dash {
  width: 90px;
  height: 2px;
  background: var(--color-golden);
  margin: 0 1rem;
}
.app__menuitems-subhead {
  width: 100%;
  margin-top: 0.2rem;
}
.app__menuitem-head-title {
  display: flex;
  flex: 1;
  width: 350px;
}
.app__menuitem-head-price {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (max-width: 1024px) {
  .app__menuitem {
    padding: 2rem 0;
  }
}
