.app__laurels{
    display: flex;
    width: 100%;
   
}
.app__wrapper-img{
    width: 100%;
    flex: 1;
}
.app__wrapper-img img{
    width: 100%;
}
.app__wrapper-info{
    flex: 1;
}
.app__laurels-awards{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;
}
.app__laurels-awards-single{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 250px;
    margin: 1rem 0;
    gap: 1rem;
}
.app__laurels-awards-single img{
    min-width: 20%;
}

@media (max-width:1050px) {
       .app__laurels-awards{
        flex-direction: column;
       } 
}