.app__aboutus{
    position: relative;
}
.app__aboutus-overlay{
    position:absolute;
    inset: 0;
}

.app__aboutus-overlay img{
    width: 400px;
    z-index: 0;
}
.app__aboutus-content{
    width: 100%;
    z-index: 5;
}
.app__aboutus-content-about{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    gap:1rem;
    text-align: right;
}
.app__aboutus-content-knife{
    margin: 2rem 4rem;
}
.app__aboutus-content-knife img{
    height: 900px;
}
.app__aboutus-content-history{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    text-align: left;
}

@media (max-width:900px) {
    .app__aboutus-content{
        flex-direction: column;
    }
}